/* Estilos adicionales para las letras en los detalles del usuario */
*{
    background-color: rgba(255, 255, 255, 0);
}
.user-details {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .user-details:hover {
    background-color: #edf2f7;
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .user-title {
    color: #343a40;
    font-size: 28px; /* Tamaño de fuente aumentado */
    font-family: 'Arial', sans-serif; /* Cambio de fuente */
    font-weight: bold; /* Negrita */
    margin-bottom: 15px; /* Mayor espacio inferior */
  }
  
  .user-not-found {
    color: #dc3545;
    font-size: 18px;
    margin-top: 20px;
    font-family: 'Arial', sans-serif; /* Cambio de fuente */
  }
  